.navbar-ytred {
  background-color: #b72025;
  border-color: #ae6060;
}
.navbar-ytred .navbar-brand {
  color: #ecf0f1;
}
.navbar-ytred .navbar-brand:hover, .navbar-ytred .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-ytred .navbar-text {
  color: #ecf0f1;
}
.navbar-ytred .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-ytred .navbar-nav > li > a:hover, .navbar-ytred .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-ytred .navbar-nav > li > .dropdown-menu {
  background-color: #b72025;
}
.navbar-ytred .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-ytred .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-ytred .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #ae6060;
}
.navbar-ytred .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #b72025;
}
.navbar-ytred .navbar-nav > .active > a, .navbar-ytred .navbar-nav > .active > a:hover, .navbar-ytred .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #ae6060;
}
.navbar-ytred .navbar-nav > .open > a, .navbar-ytred .navbar-nav > .open > a:hover, .navbar-ytred .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #ae6060;
}
.navbar-ytred .navbar-toggle {
  border-color: #ae6060;
}
.navbar-ytred .navbar-toggle:hover, .navbar-ytred .navbar-toggle:focus {
  background-color: #ae6060;
}
.navbar-ytred .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-ytred .navbar-collapse,
.navbar-ytred .navbar-form {
  border-color: #ecf0f1;
}
.navbar-ytred .navbar-link {
  color: #ecf0f1;
}
.navbar-ytred .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-ytred .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-ytred .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-ytred .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-ytred .navbar-nav .open .dropdown-menu > .active > a, .navbar-ytred .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-ytred .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #ae6060;
  }
}
